streamlit==1.30.0
pandas
numpy
plotly
plotly-express
matplotlib
seaborn
scipy
statsmodels

# OpenCV (apenas o headless funciona)
opencv-python-headless

# Streamlit ecosistema
streamlit-aggrid
streamlit-authenticator==0.3.1
streamlit-folium
extra-streamlit-components
st-pages

# Supabase
supabase==2.3.4
storage3==0.7.0
realtime==1.0.2
postgrest==0.15.0
supafunc==0.3.3
gotrue==2.1.0

# Outras libs comuns
python-dotenv
python-dateutil
pytz
requests
beautifulsoup4
PyJWT
SQLAlchemy
rich
pyarrow
